services:
  postgres_db:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: stone
      POSTGRES_USER: stone
      POSTGRES_PASSWORD: stone
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

