@import url(./components/component.css);

.cm-editor {
  flex: 1;
  height: 100%;
  padding: 24px 20px;
  max-height: calc(100dvh - 90px - 2rem);
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-md-hidden {
  display: none;
}

/*  Editor Scrollbar Transparente */
.cm-scroller {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.2) transparent;
  scroll-behavior: auto !important;
}

.cm-scroller::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.cm-scroller::-webkit-scrollbar-track {
  background: transparent;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.cm-scroller::-webkit-scrollbar-corner {
  background: transparent;
}