* {
  scroll-behavior: smooth;
}

body, html {
  font-family: var(--font-sans);
  background-color: var(--bg-main);
  overflow: hidden;
}

/* HEADER */

.site-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  background-color: var(--bg-secondary);
  color: var(--text-primary);

  border-bottom: 1px solid var(--bg-tertiary);
}

/* Ações do Header */
.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-layout {
  display: flex;
}

.site-menu {
  width: 70px;
  min-height: calc(100dvh - 70px);
  background-color: var(--bg-tertiary);
  box-sizing: border-box;
  transition: .3s;
  overflow: hidden;
}

.site-menu .site-menu-actions {
  height: 50px;
  background-color: var(--bg-main);
  border-bottom: 2px solid var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-menu .site-menu-actions div {
  display: none;
}

.site-menu.actived {
  width: 400px;
}

.site-menu.actived .site-menu-actions {
  justify-content: space-between;
  padding: 0 10px;
  gap: 10px;
}

.site-menu.actived .site-menu-actions div {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 10px;
  gap: 10px;
}

.box-content {
  width: 100%;
  min-height: calc(100dvh - 70px);
  display: flex;
  flex-direction: column;
}

.box-main {
  width: 100%;
  flex: 1;
  display: flex;
}

.site-main {
  width: 100%;
  flex: 1;
  background-color: var(--bg-main);
  color: var(--text-primary);
}

.site-main .editor {
  width: 100%;
  flex: 1;
}

/* FOOTER */

.site-footer {
  padding: 1rem;
  text-align: center;
  height: 15px;

  background-color: var(--bg-secondary);
  color: var(--text-muted);

  font-size: 0.875rem;
  border-top: 1px solid var(--bg-tertiary);
}

.site-footer strong {
  color: var(--accent);
  font-weight: 600;
}

/* Destaque Footer */
.made-with {
  margin-left: 0.25rem;
  color: var(--text-secondary);
}

.heart svg {
  width: 16px;
  height: 16px;
  fill: var(--accent);
  vertical-align: middle;
  margin: 0 0.2rem;
}
