@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-mono: "Google Sans Code", monospace;
  --success: #16a34a;
  --warning: #facc15;
  --warning-transparent: #facc1549;
  --error: #dc2626;
  --info: #2196f3;
}
