.tree-container {
    padding: 10px 0;
    color: var(--text-primary);
    font-size: 0.9rem;
    overflow-y: auto;
    height: calc(100dvh - 70px);
}

.tree-empty {
    padding: 20px;
    text-align: center;
    color: var(--text-muted);
    font-size: 0.8rem;
}

.tree-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tree-node .tree-list {
    display: none;
    padding-left: 14px;
    margin-left: 7px;
    border-left: 1px solid var(--bg-tertiary);
}

.tree-node.expanded>.tree-list {
    display: block;
}

.tree-label {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.15s;
    border-radius: 4px;
    margin-bottom: 2px;

    border: 1px solid transparent;
}

.tree-label:hover {
    background-color: var(--bg-tertiary);
}

.tree-label.active {
    background-color: color-mix(in srgb, var(--accent) 15%, transparent);
    color: var(--accent);
}

.tree-label.active .tree-text {
    font-weight: 500;
}

.tree-label.drop-target {
    background-color: color-mix(in srgb, var(--accent) 20%, transparent);
    outline: 1px solid var(--accent);
}

.tree-input-label {
    padding: 4px 12px;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--accent);
}

.tree-input {
    background: transparent;
    border: none;
    color: var(--text-primary);
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    outline: none;
}


.tree-arrow {
    font-size: 16px !important;
    color: var(--text-muted);
    transition: transform 0.2s ease;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree-node.expanded>.tree-label .tree-arrow {
    transform: rotate(90deg);
}

.tree-icon {
    font-size: 18px !important;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}