.made-with {
  margin-left: 0.25rem;
  color: var(--text-secondary);
}

.heart svg {
  width: 16px;
  height: 16px;
  fill: var(--accent);
  vertical-align: middle;
  margin: 0 0.2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.logo img {
  width: 28px;
  height: 28px;
}

.logo h2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--text-primary);
  letter-spacing: .5px;
}

.box-search {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 0.75rem;
  border-radius: 999px;

  background-color: var(--bg-tertiary);
  color: var(--text-secondary);
}

.search input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-primary);
  width: 220px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Buttons */

.fab {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: var(--text-secondary);

  cursor: pointer;
}

.fab:hover {
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
}

.button {
  border-radius: 20px;
  padding: 10px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  background-color: transparent;
  color: var(--text-secondary);

  cursor: pointer;
}

.button:hover {
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
}

/* Editor de Markdown */
.cm-editor {
  flex: 1;
  height: 100%;
  padding: 5dvh 10dvw;
}

.cm-editor.cm-focused {
  outline: none;
}

/* Markdown Decorations */
.cm-md-hidden {
  opacity: 0;
  font-size: 0;
  width: 0;
  position: absolute;
}

.cm-bullet-widget {
  display: inline-block;
  width: 1.2em;
  text-align: center;
  opacity: 0.7;
}

.cm-md-highlight {
  background-color: var(--warning-transparent);
  color: var(--text-primary);
  padding: 2px 4px;
  border-radius: 3px;
}

.cm-md-strike {
  text-decoration: line-through;
  opacity: 0.9;
}

/* Title */
.cm-heading-line {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  line-height: 2.5;

  width: 100%;
  position: relative;
  color: var(--text-primary);
  font-weight: 600;
}

.cm-heading-line:has(.cm-header-1)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: .5rem;

  height: 1px;
  background-color: var(--cm-border, #ddd);

  pointer-events: none;
}

.cm-header-1 {
  font-size: 2rem;
}

/* Lista */
.cm-task-widget.is-disabled {
  cursor: default;
  opacity: 0.4;
}

.cm-md-link-widget {
  color: var(--accent);
  text-decoration: underline;
  cursor: pointer;
}

.cm-md-link-widget:hover {
  opacity: 0.85;
}

.cm-task-widget {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 1.8em;
  height: 1.8em;

  color: var(--accent);
  vertical-align: middle;
  cursor: pointer;
}

.cm-task-widget svg {
  width: 3rem;
  height: 3rem;
  display: block;
}
