* {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: var(--font-sans);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  height: 70px;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  background-color: var(--bg-secondary);
  color: var(--text-primary);

  border-bottom: 1px solid var(--bg-tertiary);
}

.site-layout {
  display: flex;
}

.site-menu {
  width: 250px;
  height: 100dvh;
  position: sticky;
  top: 0;
  background-color: var(--bg-tertiary);
  padding: calc(70px + 24px) 20px 24px 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.box-content {
  width: 100%;
  min-height: calc(100dvh - 70px);
  display: grid;
}

.box-main {
  width: 100%;
  min-height: calc(100dvh - 70px);
  display: flex;
}

.site-main {
  width: 100%;
  min-height: 100dvh;
  padding-top: 70px;
  background-color: var(--bg-main);
  color: var(--text-primary);
  box-sizing: border-box;
}

.site-footer {
  padding: 1rem;
  text-align: center;

  background-color: var(--bg-secondary);
  color: var(--text-muted);

  font-size: 0.875rem;
  border-top: 1px solid var(--bg-tertiary);
}

.site-footer strong {
  color: var(--accent);
  font-weight: 600;
}

.site-index {
  width: 200px;
  height: 100dvh;
  position: sticky;
  top: 0;
  background-color: var(--bg-main);
  padding: calc(70px + 24px) 20px 24px 20px;
  box-sizing: border-box;
}