@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.dark:root {
  --bg-main: #0d1117;
  --bg-secondary: #161b22;
  --bg-tertiary: #21262d;

  --text-primary: #e6edf3;
  --text-secondary: #9da7b3;
  --text-muted: #6e7681;
  --border-muted: #30363d;

  --accent: #8b5cf6;
}