.cm-md-hr-line {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
}

.cm-md-hr-line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: #ddd;
  pointer-events: none;
}